[submodule "cakephp-lib"]
	path = cakephp-lib
	url = https://github.com/cakephp/cakephp.git
[submodule "facebookapp/Plugin/DebugKit"]
	path = facebookapp/Plugin/DebugKit
	url = https://github.com/cakephp/debug_kit.git
[submodule "facebookapp/Plugin/TwitterBootstrap"]
	path = facebookapp/Plugin/TwitterBootstrap
	url = https://github.com/slywalker/TwitterBootstrap.git
